/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*user styling
*/

#header {
	height:60px;
	clear:both;
}

li {
	float:right;
	margin:28px;
}

#grid {
	height:22px;
	margin-top:18px;
}

.headertxt {
	font-size:14px;
	font-family:sans-serif;
	margin-top:12px;
	padding: 12px;
}

#button {
	height:12px;
	width:70px;
	background:linear-gradient(to bottom, #4487FC, #4285F4);
	border-radius:2px;
	margin-top:14px;
	margin-right:40px;
	margin-left:20px;
	font-family:sans-serif;
	font-weight:600;
	font-size:13px;
	text-align:center;
	padding-top:8px;
	padding-bottom:10px;
	color:white;
}

#google {
	position:relative;
	top:50%;
	left:50%;
	margin-top:-186px;
	margin-left:-269px;
	img:-50%;
}

#SearchBarWrapper {
	width:580px;
	margin:auto;
}

#SearchBar {
	width:580px;
	margin-top:330px;
	border:1px solid #E8E8E8;
}

#mic {
	float:right;
	display:inline-block;
}

#GrayButtons {
	text-align:center;
}

.footer {
	postion:relative;
	clear:both;
	margin-top:120px;
}

.LeftLinks {
	float:left;
	padding-left:20px;
}

.RightLinks {
	float:right;
	padding-right:20px;
}